@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto',
}

:root {
    --red: #FF445D;
    --pink: #FD7BB8;
    --grey-500:#F2F2F2;
    --white: #FFFFFF;
    --black: #000000;

}

body {
  overflow: hidden !important;
}
